@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circular Std Book';
    color: var(--clr-white);
    user-select: none;
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-black);
    padding: 15px;
    overflow-y: hidden;
}
.left{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 5px;
    scroll-behavior: smooth;
}
.discover{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
.discover h1{
    font-size:250%;
}

/* icono de busqueda y su input */

.busqueda, .busqueda2 {
    display: flex;
    align-items: center;
    text-align: center;
}

.input {
    font-family: inherit;
    font-size: inherit;
    background-color: #181717;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 90%;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.input:hover, .input:focus {
    box-shadow: 0 0 1em #2c2c2c13;
}

.input:focus {
    outline: none;
    background-color: #111010;
}

.input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.input:focus + .boton_input {
    background-color: #21212100;
}

.boton_input {
    border: none;
    background-color: #13131300;
    margin-top: .1em;
}

.boton_input:hover {
    cursor: pointer;
}

.icono_busqueda {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
}

/* top_chart */

.top_chart {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 90%;
}
.top_chart div{
    display: flex;
}
.top_chart div i{
    font-size: 20px;
}

/* lista de albums */

albums-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 90%;
    height: 45vh;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
.album{
    width: 100%;
    object-fit: contain;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    transition: .2s ease-in-out;
}

.album:hover{
    cursor: pointer;
    scale: 1.04;
}
.album img{
    width: 90%;
    border-radius: 5px;
}

.album h2{
    width: 90%;
    height: 2vh;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* scroll */

albums-list::-webkit-scrollbar {
    -webkit-appearance: none;
}

albums-list::-webkit-scrollbar:vertical {
    width:10px;
}

albums-list::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

albums-list::-webkit-scrollbar:horizontal {
    height: 10px;
}

albums-list::-webkit-scrollbar-thumb {
    background-color: #292929;
    border-radius: 20px;
    border: 2px solid #242424;
}

albums-list::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* may like */

.may_like{
    margin-top: 25px;
    width: 90%;
    height: 48vh;
    box-sizing: border-box;
}
.may_like track-list {
    margin-top: 15px;
    overflow-y: auto;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 7px;
    padding: 5px;
}
.track{
    width: 100%;
    height: 30vh;
    display: flex;
    background: #181717;
    border-radius: 10px;
    align-items: center;
}
.track .img{
    width: 18%;
    height: 100%;
    padding: 10px;
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.track_text{
    width: 80%;
    height: 80%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.track_text p {
    color: #7b7b7b;
}

/* scroll */

.may_like track-list::-webkit-scrollbar {
    -webkit-appearance: none;
}

.may_like track-list::-webkit-scrollbar:vertical {
    width:10px;
}

.may_like track-list::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.may_like track-list::-webkit-scrollbar:horizontal {
    height: 10px;
}

.may_like track-list::-webkit-scrollbar-thumb {
    background-color: #292929;
    border-radius: 20px;
    border: 2px solid #242424;
}

.may_like track-list::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* reproductor */

.player{
    width: 88%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    background: rgb(16, 16, 16);
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
}

.listening{
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.reproductor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

my-frame{
    width: 90%;
    height: 80%;
    transition: .5s ease-in-out;
}

/* track list */

.track_list{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    align-items: center;
}

.tracks {
    width: 100%;
    height: 30vh;
    border-bottom: 2px solid ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.track_txt {
    width: 100%;
    font-size: 40px;
}
.tracks div{
    width: 100%;
    padding-left: 20px;
}
.tracks div i{
    font-size: 25px;
}

.tracks h3{
    font-size: 20px;
    height: 4vh;
}

.track_container{
    width: 100%;
    height: 65vh;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.track2{
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5px;
    align-items: center;
    background: #181717;
    border-radius: 10px;
}
.track2 i{
    font-size: 25px;
    color: #7b7b7b;
    margin-right: 10px;
}
.track2 .img{
    width: 15%;
    height: 100%;
    object-fit: cover;
}

.track2 .img img{
    width: 100%;
    height: 100%;
}

/* scroll */

.track_container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.track_container::-webkit-scrollbar:vertical {
    width:10px;
}

.track_container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.track_container::-webkit-scrollbar:horizontal {
    height: 10px;
}

.track_container::-webkit-scrollbar-thumb {
    background-color: #292929;
    border-radius: 20px;
    border: 2px solid #242424;
}

.track_container::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* responsive */
.responsive {
    flex-direction: column;
    gap: 0.5em;
    position: absolute;
    top: 40px;
    right: 10px;
    display: none;
}

.card1, .card2, .card3, .card4 {
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: white;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.card1 {
    z-index: 1;
}

.responsive button i {
    color: var(--clr-green-secondary);
    font-size: 30px;
}

.card2, .card3 {
    display: none;
    position: absolute;
    opacity: 0;
    transform: translateY(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.responsive button:hover {
    cursor: pointer;
    background-color: var(--clr-green-primary);
}

.responsive button:hover i {
    color: white;
}

.left {
    order: 0;
}
.player {
    order: 1;
}
.track_list {
    order: 2;
}

.caratula{
    display: none;
    background: none;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    object-fit: fill;
    border: 4px double gray;
    rotate: 0deg;
    animation: rotation 4s linear infinite;
    padding: 4px;
    bottom: 20px;
    right: 10px;
    transition: 1s ease-in-out;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.caratula img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media (width < 800px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .responsive {
        display: flex;
    }
    .caratula {
        display: none;
    }
}
